*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rebeccapurple;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;
    overflow: hidden;
}

.btn{
    background-color: #fff;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:focus{
    outline: o;
}

.btn:active{
    transform: scale(0.98);
}

#toasts{
    position: absolute; /* fixed */
    bottom: 0;
    right: 0;
}

.toast{
    background-color: #fff;
    border-radius: 5px; 
    color: rebeccapurple;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

.toast.info{
    color: rebeccapurple;
}

.toast.success{
    color: green;
}

.toast.danger{
    color: red;
}